/* Top bar superior */
.top-bar {
    background-color: var(--color-negro-suave);
    color: var(--color-claro);
    text-align: center;
    padding: var(--espaciado-pequeno);
    font-family: var(--fuente-parrafo);
    font-weight: bolder;
  }
  
  /* Logo */
  .brand-logo {
    width: 75px;
  }
  
  /* Área de búsqueda */
  .search-bar {
    max-width: 325px;
    font-family: var(--fuente-parrafo);
    font-size: var(--font-size-parrafo);
  }
  
  /* Botones de íconos */
  .icon-btn {
    background: none;
    border: none;
    font-size: 35px;
    color: var(--color-negro-suave);
  }
  
  /* Estilos generales del header */
  header {
    font-family: var(--fuente-parrafo);
    background-color: white;
    padding: var(--espaciado-mediano) 0;
    padding-top: 0.5rem;  /* Puedes ajustar estos valores */
    padding-bottom: 0.5rem;
  }
  
  /* Título del sitio */
  header h1 {
    font-family: var(--fuente-titulo);
    font-size: var(--font-size-titulo);
    margin: 0;
    color: var(--color-principal);
  }
  
  /* Subtítulo */
  header p {
    font-size: var(--font-size-parrafo);
    margin: 0;
    color: var(--color-principal);
  }
  
  /* Navegación de categorías */
  nav {
    border-bottom: 1px solid var(--color-claro);
    background-color: var(--color-claro);
    padding: var(--espaciado-pequeno) 0;
    font-family: var(--fuente-parrafo);
  }
  
  /* Lista de navegación  horizontal*/
  nav ul.nav {
    padding-left: 0;
    margin: 0;
  }
  
  /* Ítems de lista */
.nav-item {
  margin-right: var(--espaciado-mediano);
}

/* Enlaces */
.nav-link {
  color: var(--color-negro-suave)!important;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 0; 
}

nav .nav-link:hover {
  color: var(--color-principal)!important;
}

.nav-link:visited,
.nav-link:active {
  color: var(--color-negro-suave)!important;
  text-decoration: none;
}

/* Agregado ultimo 
/* Estilos para menú de categorías en móvil */
@media (max-width: 768px) {
  #menuCategorias {
    display: none;
    flex-direction: column;
    gap: var(--espaciado-pequeno);
    padding: var(--espaciado-mediano);
  }

  #menuCategorias.mostrar {
    display: flex;
  }

  /* Opcional: puedes centrar o dar estilo diferente */
  #menuCategorias.nav-link {
    font-size: 18px;
    padding: 0.5rem 0;
  }
}