
body {
    font-family: var(--fuente-parrafo);
    background-color: var(--color-claro);
    color: var(--color-negro-suave);
    padding: var(--espaciado-grande);
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    font-size: var(--font-size-parrafo);
  }
  
  h1, h2 {
    color: var(--color-principal);
    font-family: var(--fuente-titulo);
  }
  
  h1 {
    font-size: var(--font-size-titulo);
    margin-bottom: var(--espaciado-mediano);
  }
  
  h2 {
    font-size: var(--font-size-subtitulo);
    margin-top: var(--espaciado-grande);
    margin-bottom: var(--espaciado-pequeno);
  }
  
  a {
    color: var(--color-principal);
    text-decoration: underline;
  }